<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/home.css">
        <script src="https://kit.fontawesome.com/2e591b265e.js" crossorigin="anonymous"></script>
    </head>
        <body>
            <h1 id="page-heading">Contact List</h1>
            <ul>
                <% for(i of contact_list){%>
                
                    <li class="contact">

                     <div class="details">
                        <p> <%=i.name%>    </p>
                        
                        <p> <%=i.phone%> </p>

                    </div>
                    <div class="delete-button">
                        
                        <a href="/delete-contact/?id=<%=i._id%>" >
                                    Delete
                        </a>
                    </div>
                    
                
                    </li>
                
                
                
                <%}%>
            </ul>

            <form action="/contact-list" method="POST">
                
            <div id="form-details">                
                
                <input type="text" name="name" required placeholder="Enter name">
                <input type="number" name="phone" required placeholder="Enter phoneNo.">
                    
                    <button type="submit">Add Contact</button>
            </div>
            </form>
            <script src="/js/home.js"></script>
        </body>
    
</html>