<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <h1>Playground</h1>

        <% if( 1 >5) {%>

            <h3>Yes,it's true</h1>

        <% } else{ %>

            <h3> yes it,false :( </h3>

        <%}%>


        <ul>

            <% for(let i=1;i<10;i++) {%>
                <li>
                    <%=i%>
                </li>

           <% } %>

        </ul>

       
    </body>
</html>